/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.about-us {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-title {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-top: 20px;
}

.about-text {
    color: #666;
    margin-bottom: 20px;
}

.about-list {
    color: #666;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.img-scale {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.img-scale:hover {
    transform: scale(1.05);
}
